*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #f7f7f7;
}

header{
    height: 90px;
    background-color: white;
    
}



h1 {
    display: inline-block;

    text-height:20px;
    font-family: 'Roboto', sans-serif;
    vertical-align: middle;
    
}


img{
    height: 80px;
    padding: 10px;
    vertical-align: middle;
    
     
}
main{
    background-color: white;
    max-width: 800px;
    margin: auto;
    margin-top: 30px;
    
    
    ;
}
nav{
    padding-bottom: 20px;
}
.button {
    border-color: lightgrey;
    font-size: small;
    border-radius: 3px;
    margin-top: 20px;
    color:lightgray;
    background-color: white;
    border-style: double;
    
    
}
#button1{
    background-color: darkturquoise;
    color: white;
    margin-left: 50px;
    border-style: none;
}
hr{
    background-color:#f7f7f7;
    height: 5px;
    border: none;
}
ol{
    list-style: none;
    margin-left:50px ;
    font-family: 'Roboto', sans-serif;
    font-size: larger;
    font-weight: 800;
    color: darkslategrey;
    margin-top: 30px;
}
ul{
    list-style: none;
    font-family: 'Roboto', sans-serif;
    font-size: smaller;
    font-weight: 400;
    color: darkslategrey;
}